/****************************** COLOR SCHEME - BEGIN ******************************/
:root {
	--pure-black: #000000;  /* color: var(--pure-black) */
	--pure-white: #ffffff;  /* color: var(--pure-white) */
}
/****************************** COLOR SCHEME - END ******************************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h2 {
	margin: 1vmin 1vmin 0;
	font-size: 4vmin;
}