/****************************** COLOR SCHEME - BEGIN ******************************/
:root {
	--pure-black: #000000;  /* color: var(--pure-black) */
	--pure-white: #ffffff;  /* color: var(--pure-white) */
}
/****************************** COLOR SCHEME - END ******************************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*************************** CASH REGISTER STYLES ***************************/

#app {
	margin: auto;
    width: 100vmin;
	height: 100vmin;

	font-family: Arial, Helvetica, sans-serif;
}

h2 {
	margin: 1vmin 1vmin 0;
	font-size: 4vmin;
}

.client_pocket {
	height: 20%;
	text-align: center;

	display: grid;
    grid-template-rows: auto 1fr;
}

.client_pocket .cash {
	display: grid;
    grid-template-columns: repeat(9, 1fr);
	gap: 1vmin;

	margin: 1vmin;
}

.client_pocket .cash .cell {
	display: grid;
	align-items: center;

	font-size: 4vmin;
	border-radius: 1vmin;

	cursor: pointer;
	
	background-color: #4caf5050;
}

.client_pocket .cash .cell:hover {
	background-color: #4caf5070;
}

.info {
	height: 15%;

	display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vmin;
}

.info > div {
	display: grid;
	grid-template-rows: auto 1fr;
	align-items: center;
}

.info label {
	margin: 1vmin 1vmin 0;
    font-size: 4vmin;
}

.info input {
	margin: 1vmin;
	border-radius: 1vmin;
	border: 2px solid black;
	text-decoration: none;
	text-align: right;
	
	font-size: 4vmin;
}

.info input[disabled] {
	background-color: #4caf5020;
	cursor: not-allowed;
}

.controls {
	height: 10%;

	display: grid;
}

.controls .button {
	margin: 1.5vmin;

	display: grid;
    align-items: center;
	text-align: center;
	font-size: 4vmin;
	cursor: pointer;

	border-radius: 3vmin;
	box-shadow: 0px 0px 3px 1px;

	background-color: #ff9800;
}

.controls .button:hover {
	background-color: #e48a06;
}

.change {
	height: 20%;
	text-align: center;

	display: grid;
    grid-template-rows: auto 1fr;
}

.change .summary {
    font-size: 4vmin;
}

.change .summary label {
	font-weight: bold;
}

.change .summary input {
	width: 25%;
	margin: 1vmin;
    border-radius: 1vmin;
    border: 2px solid black;
    text-decoration: none;
    text-align: right;
	font-size: 4vmin;
	font-weight: bold;
	cursor: not-allowed;

	background-color: #00bcd420;
}

.change .cash {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: 2fr 1fr;
    gap: 0.5vmin;
    margin: 1vmin;
}

.change .cash div {
	display: grid;
    align-items: center;
    font-size: 3.4vmin;
	border-radius: 1vmin;
	
	background-color: #00bcd4;
}

.change .cash .quantity {
	font-weight: bold;
}

.status {
	height: 10%;

	display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 1vmin;
	font-size: 4vmin;
}

.status label {
	font-weight: bold;
}

.status input {
	margin: 1vmin;
    border-radius: 1vmin;
    border: 2px solid black;
    text-decoration: none;
    text-align: center;
	font-size: 4vmin;
	font-weight: bold;
	cursor: not-allowed;

	background-color: #fbf3ad70;
}

.cash_register {
	height: 20%;

	text-align: center;
    display: grid;
    grid-template-rows: auto 1fr;
}

.cash_register .cash {
	display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 2fr 1fr;
    gap: 0.5vmin;
    margin: 1vmin;
}

.cash_register .cash div {
	display: grid;
    align-items: center;
    font-size: 3.4vmin;
	border-radius: 1vmin;
	
	background-color: #d5c6f1;
}

.cash_register .cash .quantity {
	font-weight: bold;
}