/****************************** COLOR SCHEME - BEGIN ******************************/
:root {
	--pure-black: #000000;  /* color: var(--pure-black) */
	--pure-white: #ffffff;  /* color: var(--pure-white) */
}
/****************************** COLOR SCHEME - END ******************************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*************************** CASH REGISTER STYLES ***************************/

#app {
	margin: auto;
    width: 100vmin;
	height: 100vmin;

	font-family: Arial, Helvetica, sans-serif;
}

h2 {
	margin: 1vmin 1vmin 0;
	font-size: 4vmin;
}

.client_pocket {
	height: 20%;
	text-align: center;

	display: grid;
    grid-template-rows: auto 1fr;

    background-color: #8bc34a30;
}

.client_pocket .cash {
	display: grid;
    grid-template-columns: repeat(9, 1fr);
	gap: 1vmin;

	margin: 1vmin;
}

.client_pocket .cash .cell {
	display: grid;
	align-items: center;

	font-size: 4vmin;
	border-radius: 1vmin;

	cursor: pointer;
	
	background-color: #4caf5050;
}

.client_pocket .cash .cell:hover {
	background-color: #4caf5070;
}

.info {
	height: 15%;

	display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vmin;

    background-color: #607d8b50;
}

.info > div {
	display: grid;
	grid-template-rows: auto 1fr;
}

.info label {
	margin: 1vmin 1vmin 0;
    font-size: 4vmin;
}

.info input {
	margin: 1vmin;
	border-radius: 1vmin;
	border: 2px solid black;
	text-decoration: none;
	text-align: right;
	
	font-size: 4vmin;
	
    background-color: #ffffff;
}

.controls {
	height: 10%;

	display: grid;

    background-color: #dff2f5;
}

.controls .button {
	margin: 1.5vmin;

	display: grid;
    align-items: center;
	text-align: center;
	font-size: 4vmin;
	cursor: pointer;

	border-radius: 3vmin;
	box-shadow: 0px 0px 3px 1px;

	background-color: #00bcd4;
}

.controls .button:hover {
	background-color: #04aec3;
}

.change {
	height: 20%;

    background-color: #03a9f450;
}

.status {
	height: 15%;

    background-color: #f4433650;
}

.cash_register {
	height: 20%;

    background-color: #cddc3950;
}






/****************************** @MEDIA - BEGIN ******************************/
/*	typical checkpoints - DELETE unused		*/

/* Extra small devices (phones, <<<--600px and down) */
@media only screen and (max-width: 600px) {} 

/* Small devices (portrait tablets and large phones, 601px-->>> and up) */
@media only screen and (min-width: 601px) {} 

/* Medium devices (landscape tablets, 768px-->>> and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px-->>> and up) */
@media only screen and (min-width: 992px) {} 

/* Extra large devices (large laptops and desktops, 1200px-->>> and up) */
@media only screen and (min-width: 1200px) {}
/****************************** @MEDIA - END ******************************/